<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.turnosandroid_pucmm">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Javier.PickTypeOfTurnActivity"
            android:parentActivityName=".Javier.CompanyDetailsActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".JuanLuis.UserProfileActivity"
            android:label="@string/profile"
            android:parentActivityName=".Jesse.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JuanLuis.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".Jesse.DashboardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Jesse.DashboardActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Javier.CompanyDetailsActivity"
            android:parentActivityName=".Jesse.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Javier.AskTicketActivity"
            android:parentActivityName=".Javier.CompanyDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Alexander.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Alexander.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Alexander.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Javier.ShowTicketInfoActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>